version: '3.8'

services:
  {# ------------------------------------------ -#}
  {# 2. App層: Backend Application (ビジネスロジック) -#}
  {# ------------------------------------------ -#}
  app:
    image: python:3.11-slim
    container_name: python-app
    restart: unless-stopped
    environment:
      {# アプリケーションコードが参照する接続先情報 -#}
      DB_HOST: mysql-db
      DB_NAME: "{{ mysql_db_name }}"
      DB_USER: "{{ mysql_user }}"
      DB_PASS: "{{ mysql_password }}"
    volumes:
      {# カレントディレクトリの app フォルダをコンテナ内にマウント -#}
      - ./app:/app
    working_dir: /app
    command: python3 -m http.server 8000
    networks:
      - frontend-nw
      - backend-nw

{# ========================================== -#}
{# ネットワーク定義                            -#}
{# ========================================== -#}
networks:
  {# Webコンテナ側で作成される外部ネットワークへの相乗り -#}
  frontend-nw:
    external: true

  {# DBコンテナ側で作成される内部ネットワークへの相乗り -#}
  backend-nw:
    external: true